<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style>
    body {
      font-size: xx-large;
    }
  </style>

  <title>Lunch Checker</title>
</head>

<body ng-app="LunchCheck">
  <h1>Lunch Checker</h1>
  <div ng-controller="LunchCheckController">
    <div>
      Enter the items in your lunch seperated by a comma. <br><br>
      <input type="text" ng-model="lunchItems">
      <button ng-click="tooMuchCheck()">Check If Too Much</button>
    </div>
    <br>
    <div>{{message}}</div>

  </div>
</body>

</html>